body{
    margin: 0px;
    padding: 0px;
}

.promo {
    background: url("../media/back0.png");
    max-height: 100vh;
    header {
        display:flex;
        justify-content:space-around;
        align-items:center;
    
        &__title {
        }
        action{
            display:flex;
            justify-content: space-between;

            &__button {
                font-size
                &_border {
                    border: 2px solid white;
                }
            }
        }
    }
    
    block {
        &__title {
        }
        &__subtitle {
        }
        &__but {
        }
    }
}